<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <!-- header -->
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/templates/index.html" th:href="@{/}">K리그 Chat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="width: 100%;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">자유</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            K리그 1
                        </a>
                        <ul class="dropdown-menu">
                            <th:block th:each="t1 : ${team1}">
                                <li><a class="dropdown-item" href="#" th:text="${t1.name}">경남</a></li>
                            </th:block>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            K리그 2
                        </a>
                        <ul class="dropdown-menu">
                            <th:block th:each="t2 : ${team2}">
                                <li><a class="dropdown-item" href="#" th:text="${t2.name}">경남</a></li>
                            </th:block>
                        </ul>
                    </li>
                    <div style="margin-left: auto; display: flex; align-items: center;">
                        <li>
                            <button class="btn btn-outline-danger" id="loginBtn"
                                    onclick="location.href='/user/loginPage'">로그인
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-outline-danger" id="logoutBtn" onclick="logout()">로그아웃</button>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
</header>

</html>