<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>K리그 Chat</title>
    <link href="/static/css/everything.css" th:href="@{/css/everything.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
    <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">K리그 Chat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="width: 100%;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">자유</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            K리그 1
                        </a>
                        <ul class="dropdown-menu">
                            <th:block th:each="t1 : ${team1}">
                                <li><a class="dropdown-item" href="#" th:text="${t1}">경남</a></li>
                            </th:block>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            K리그 2
                        </a>
                        <ul class="dropdown-menu">
                            <th:block th:each="t2 : ${team2}">
                                <li><a class="dropdown-item" href="#" th:text="${t2}">경남</a></li>
                            </th:block>
                        </ul>
                    </li>
                    <li style="margin-left: auto;">
                        <button class="btn btn-outline-danger" type="submit">로그인</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- body -->
    <div class="container text-center my-5">
        <button type="button" class="btn btn-outline-success fw-bold">자유 채팅방</button>
    </div>
    <div class="container text-center my-5">
        <div class="my-4 fw-bold h4">k리그 1</div>
        <th:block th:each="t1 : ${team1}">
            <button type="button" class="btn btn-outline-danger fw-bold m-2"><span th:text="${t1}"></span></button>
        </th:block>
    </div>
    <div class="container text-center my-5">
        <div class="my-4 fw-bold h4">k리그 2</div>
        <th:block th:each="t2 : ${team2}">
            <button type="button" class="btn btn-outline-primary fw-bold m-2"><span th:text="${t2}"></span></button>
        </th:block>
    </div>
</body>

</html>