<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/layout}">

<head>
    <title>K리그 Chat</title>
</head>

<body layout:fragment="content">
    <!-- body -->
    <div class="container text-center my-5">
        <button type="button" class="btn btn-outline-success fw-bold">자유 채팅방</button>
    </div>
    <div class="container text-center my-5">
        <div class="my-4 fw-bold h4">k리그 1</div>
        <th:block th:each="t1 : ${team1}">
            <button type="button" class="btn btn-outline-danger fw-bold m-2"><span th:text="${t1.name}"></span></button>
        </th:block>
    </div>
    <div class="container text-center my-5">
        <div class="my-4 fw-bold h4">k리그 2</div>
        <th:block th:each="t2 : ${team2}">
            <button type="button" class="btn btn-outline-primary fw-bold m-2"><span th:text="${t2.name}"></span></button>
        </th:block>
    </div>
    <button class="btn btn-secondary m-3" onclick="sendLoginRequest2(event)">로그인</button>
</body>

</html>